/* Start the animation from above the viewport */
@keyframes slideDownFromTop {
  0% {
    transform: translateY(-100vh); /* Start from above the viewport */
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at the top of the container */
    visibility: visible;
    opacity: 1;
  }
}

/* Apply this class to the form container when you want to show it */
.formSlidingEnter {
  animation: slideDownFromTop 0.5s ease forwards;
}

/* When hiding the form, you can define another animation */
@keyframes slideUpToTop {
  0% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    visibility: hidden;
    opacity: 0;
  }
}

.formSlidingExit {
  animation: slideUpToTop 0.26s ease forwards;
}

/* Button styles */
.btnDropdown {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
  max-width: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-weight: normal;
  background-color: transparent;
  color: #01697c;
  border: 1px solid #01697c;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  z-index: 10;
}

@media (max-width: 1000px) {
  .btnContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btnContainer {
  width: 100%;
  z-index: 10;
}

.btnCancel {
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
  background-color: white;
  color: #01697c;
  border: 0.5px solid #01697c;
  border-radius: 4px;
  margin-bottom: 15px;
  height: 40px;
  width: 100%;
}

.btnCancel::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust as needed */
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #01697c; /* Arrow color */
  transform: rotate(180deg);
}

.btnCancel:hover {
  background-color: white;
  color: #01697c;
  border: 0.5px solid #01697c;
}

.btnCancel:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .btnContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pageContainer {
    padding-top: 20px;
  }
}

.btnDropdown:hover {
  background-color: #01697c; /* Changes background on hover, optional */
  color: white; /* Changes text color on hover, optional */
}

.btnDropdown:focus {
  outline: none;
}

/* Dropdown menu styles */
.dropdownMenu .formCheck {
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}

.formCheck {
  text-align: left;
}

.dropdownMenu .formCheck:hover {
  background-color: #f8f9fa;
}

.dropdownMenu .btnPrimary {
  margin: 1rem;
  width: calc(100% - 2rem);
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.dropdownMenu {
  width: fit-content;
}

.dropdownMenu .btnPrimary:hover {
  background-color: #007acc;
  color: white;
}

/* Form element styles */
.form-group {
  margin-bottom: 1.5rem;
}

.formCheckInput {
  transform: scale(1.2);
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Label and other text styles */
.formText {
  margin-left: 5px;
}

.addJobButton {
  width: 93px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.noUi-target {
  background: #e0e0e0;
  height: 6px;
  border-radius: 3px;
}

.noUi-handle {
  background: #ffd700;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: none;
  top: -7px;
}

.noUi-connect {
  background: #ffea99;
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
  padding-top: 10px;
}

.formContainer {
  margin-top: 30px;
  z-index: 1;
}

.formContent {
  width: 100%;
  margin: 0 auto;
  overflow-y: visible;
  z-index: 1;
}

.formGroup {
  width: 100%;
  margin-bottom: 2rem;
  z-index: 1;
  margin-top: 1rem;
}

/* Desktop */
@media screen and (min-width: 1000px) {
  /* 768px tablets and up */
  .formContent {
    width: 70%;
    margin: 0 auto;
    overflow: visible;
  }
  .btnDropdown {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
    margin-right: 20px;
    margin-bottom: 40px;
  }
}

.formInput {
  width: 100%;
  margin-bottom: 1rem;
}

.preferenceWeightContainer {
  display: flex; /* Use flexbox to align children */
  flex-wrap: wrap; /* Allow items to wrap as needed */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  align-content: center; /* Center wrapped lines vertically */
  margin: 0 auto;
}

/* Recreational Interests Container */
.recreationalInterestsContainer {
  margin-bottom: 30px;
}

/* Collapsible Sections Container */
.collapsibleSections {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Individual Collapsible Section */
details {
  border-bottom: 1px solid #dee2e6; /* Bootstrap gray */
  transition: background-color 0.3s;
}

details:last-child {
  border-bottom: none;
}

/* Summary Styling */
details > summary {
  padding: 12px 18px;
  cursor: pointer;
  list-style: none; /* Remove the default arrow icon */
  background-color: #01697c;
  color: #ffffff; /* White text for contrast */
  transition: background-color 0.3s;
}

details > summary:hover {
  background-color: #01697cd2;
}

/* When the section is open */
details[open] > summary {
  background-color: #01697c;
}

details[open] .formCheck {
  background-color: #f8f9fa; /* A shade between white and light gray */
  padding-left: 14px;
}

/* Checkbox Styling */
details .formCheck {
  display: flex;
  align-items: center; /* Vertically centers the checkbox and label */
  padding: 8px 18px 8px 22px; /* Added more padding to the left */
  background-color: #f8f9fa; /* Bootstrap light gray */
  padding-bottom: 10px;
}

.formCheckLabel {
  flex-grow: 1; /* Ensures the label takes up all remaining horizontal space */
  margin-left: 10px; /* Spacing between checkbox and label */
  margin-bottom: 5px;
}

.formCheckInput {
  flex-shrink: 0; /* Prevents the checkbox from shrinking */
  padding: 10px;
}

.selectedJobs {
  background-color: #01697c;
  width: auto;
  display: inline-flex;
  flex-grow: 0;
  height: 30px;
  font-size: 16px;
  font-weight: normal;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 12px 10px;
  padding: 15px;
  box-sizing: border-box;
  flex-wrap: no-wrap;
}

.suggestion {
  cursor: pointer;
}

.slider {
  width: 100%;
  font-size: 18px;
}

.sliderContainer {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 25px;
}

.rc-slider-mark-text {
  font-size: 22px !important; /* Adjust the size as needed and use !important cautiously */
}

.styles_formCheckInput {
  display: none;
}

.radio {
  margin-right: 20px;
}

/* Population Preferences */
.populationRangeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.populationRangeItem {
  text-align: center;
  cursor: pointer;
}

.populationRangeButton {
  display: flex;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 15px;
  background-color: transparent;
  transition: background-color 0.3s;
  height: 75px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.populationRangeText {
  font-size: 14px;
}

.popBoxContainer {
  padding-left: 15px;
  padding-right: 15px;
}

.populationRangeButton.selected {
  background-color: #01697c;
  color: white;
}

@media (max-width: 768px) {
  .populationRangeButton {
  }
}

@media (max-width: 480px) {
  .populationRangeButton {
  }
}

/* State Preference Section */
.onlyButton {
  background-color: lightgray;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
