.logo {
  width: 50px;
  margin-right: 15px;
}

.nav {
  z-index: 1000;
}

.button:hover {
  background-color: #01697c;
  color: white !important;
}

.button:focus,
.button:active {
  outline: none !important;
  box-shadow: rgba(1, 105, 124, 0.1) 0px 0px 0px 3px;
}
