.logo {
  width: 50px;
  margin-right: 15px;
}

.nav {
  z-index: 1000;
}

.navButton {
  margin: 0;
  padding: 8px 15px; /* Adjust padding as needed */
  line-height: normal;
  font-size: 1em; /* Adjust font size as needed */
  vertical-align: middle;
  border: none;
  background: none;
}
