.editorContent {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.editorPreviewContainer {
  display: flex;
  gap: 20px;
  flex: 1;
  overflow: hidden;
}

.editorContainer,
.previewContainer {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.previewContainer {
  overflow-y: auto;
}
