.newBlogPostContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 1px solid #ccc;
  padding-bottom: 50px;
  border-radius: 5px;
  background-color: #fafafa;
}

.detailsForm {
  display: flex;
  gap: 10px;
}
