.personalInfoContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.infoItemEditing {
  display: block;
}

.infoLabel {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.infoValue {
  font-size: 16px;
  color: rgb(90, 90, 90);
  margin-bottom: 16px;
  margin-top: 16px;
}

.actionLink {
  color: black;
  cursor: pointer;
  padding-top: 4px;
  margin-left: auto;
}

.cancelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  height: 2em;
  width: 2em;
  align-self: center;
}

.titleSection {
  display: flex;
  flex-direction: row;
}

.title {
  position: relative;
  z-index: 9999;
}

.infoContainer {
  padding: 10px 0;
}

.info {
  flex-grow: 1;
  text-align: right;
  margin-right: 10px;
}

.editLink:hover {
  text-decoration: underline;
}

.breadcrumb {
  position: relative;
  font-size: 16px;
  margin-bottom: 24px; /* Adjust as needed */
  z-index: 9999;
}

.accountLink {
  color: #0066ff;
  text-decoration: none;
  margin-right: 2px;
}

.accountLink:hover {
  text-decoration: underline;
}

.chevronIcon {
  margin: 0 8px; /* Space around the chevron icon */
  font-size: 12px;
  margin-bottom: 1px;
}

.saveBtn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
  background-color: white;
  color: #01697c;
  border: 1px solid #01697c;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: start;
}

.saveBtn:hover {
  background-color: #01697c;
  color: white;
}

.editForm {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7); /* White background with opacity*/
  z-index: 10;
}

.activeEditField {
  position: relative;
  z-index: 9999;
}
