.statsHeader {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 15px;
}

.statsContainer {
  margin-bottom: 20px; /* Space below the container */
  display: flex;
}

.statsRow {
}

.button {
  background-color: transparent;
  border: 1px solid #01697c;
  color: #01697c;
}

.button:hover {
  background-color: #01697c;
  color: white;
}

.button:focus,
.button:active {
  outline: none;
}
