.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  padding: 0 15px; /* Add some padding for smaller screens */
  box-sizing: border-box; /* Makes sure padding doesn't add extra width */
}

h1 {
  color: #333;
  text-align: center; /* Ensure centered alignment on mobile */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
  max-width: 100%; /* Ensure the button doesn't overflow its container */
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .homepage-container {
    padding: 0 10px;
  }

  h1 {
    font-size: 24px; /* Reduce font size for mobile */
  }

  button {
    font-size: 14px; /* Adjust button font size for mobile */
    padding: 8px 16px;
  }
}
