/* General Styles */
.container {
  max-width: 650px; /* Widened the container a bit for better readability */
}

.mt-5 {
  margin-top: 3rem;
}

/* Button styles */
.btnDropdown {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}

.btnDropdown:hover {
  background-color: #007acc;
  color: white;
}

/* Dropdown menu styles */
.dropdownMenu .formCheck {
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}

.dropdownMenu .formCheck:hover {
  background-color: #f8f9fa;
}

.dropdownMenu .btnPrimary {
  margin: 1rem;
  width: calc(100% - 2rem);
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.dropdownMenu .btnPrimary:hover {
  background-color: #007acc;
  color: white;
}

/* Form element styles */
.form-group {
  margin-bottom: 1.5rem;
}

.formCheckInput {
  transform: scale(1.5);
  margin-right: 5px;
}

.formCheck {
  margin-right: 10px;
}

.form-control {
  width: 60%;
}
/* Slider styles */

/* Range input common styles */
.form-control-range {
  width: 60%;
  -webkit-appearance: none !important;
  appearance: none !important;
  height: 6px;
  outline: none;
  background: #e0e0e0 !important;
}

/* Handle (thumb) styles */
.form-control-range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  border-radius: 50% !important;
  height: 20px !important;
  width: 20px !important;
  background: #ffd700 !important;
  cursor: pointer;
}

.form-control-range::-moz-range-thumb {
  border-radius: 50% !important;
  height: 20px !important;
  width: 20px !important;
  background: #ffd700 !important;
  cursor: pointer;
}

.form-control-range::-ms-thumb {
  border-radius: 50% !important;
  height: 20px !important;
  width: 20px !important;
  background: #ffd700 !important;
  cursor: pointer;
}

/* Track styles */
.form-control-range::-webkit-slider-runnable-track {
  background: #ffea99 !important;
  border-radius: 5px !important;
  height: 6px !important;
}

.form-control-range::-moz-range-track {
  background: #ffea99 !important;
  border-radius: 5px !important;
}

.form-control-range::-ms-track {
  background: #ffea99 !important;
  border-radius: 5px !important;
}

/* For IE */
.form-control-range::-ms-fill-lower,
.form-control-range::-ms-fill-upper {
  background: #ffea99 !important;
}

/* Label and other text styles */
.formCheckLabel,
.formText {
  margin-left: 5px;
}

.addJobButton {
  width: 93px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.formControlRange {
  background: #47cc00;
}

.noUi-target {
  background: #e0e0e0;
  height: 6px;
  border-radius: 3px;
}

.noUi-handle {
  background: #ffd700;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: none;
  top: -7px;
}

.noUi-connect {
  background: #ffea99;
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.centerContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 100vh;
}

.formContent {
  width: 50%;
  margin: 0 auto;
}

.formInput {
  width: 600px;
  margin-bottom: 1rem;
}
