.preferenceToken {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fafdff;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.section {
  display: inline-block;
  text-align: center;
  margin: 0;
}

.sectionTitle {
  font-size: 18px;
  margin-bottom: 5px;
}

.selectedToken {
  background-color: #9ce0eb;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.dropzone {
  vertical-align: top;
  width: 120px;
  height: 150px;
  border: 1px solid rgba(65, 164, 154, 0.5);
  border-radius: 20px;
  display: inline-block;
  padding: 1px;
  margin-bottom: 5px;
  position: relative;
  transition: background-color 0.2s ease;
  font-size: 12px;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.4);
}

.dropZoneActive {
  background-color: #f2e9e4;
}

.token {
  width: 32px;
  height: 32px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.multipleDraggingToken {
  transform: translateY(-10px);
}

.dragPreview {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.previewToken {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/* Desktop */
@media screen and (min-width: 768px) {
  /* 768px tablets and up */
  .dropzone {
    width: 210px;
    height: 210px;
    border: 1px solid rgba(65, 164, 154, 0.5);
    border-radius: 20px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: relative;
    transition: background-color 0.2s ease;
    font-size: 12px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
  }
  .preferenceToken,
  .token,
  .previewToken {
    width: 40px;
    height: 40px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .dropZoneContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sectionTitle {
    font-size: 14px;
  }
}
