.swiper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.swiperSlide {
  text-align: right;
  font-size: 10px;
  background: #fff;
  overflow-y: hidden;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 100%;
  box-sizing: border-box;
}

.photo {
  display: block;
  width: 100%;
  height: 100%; /* Adjust based on your needs */
  object-fit: cover;
  border-radius: 15px;
}

.unsplashLogo {
  color: black;
  height: 1em; /* Sets the height of the logo to match the font size of the text */
  width: auto; /* Keeps the logo's aspect ratio intact */
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.unsplashLogoContainer {
  display: inline-block;
  vertical-align: middle;
}

.imageVisible {
  display: block;
}

.imageHidden {
  display: none;
}

.imageContainer {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  overflow-y: hidden;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .swiperSlide {
    padding-bottom: 0px;
    max-height: 330px;
  }
}
